# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled dir
target/
out/
build/

# Compiled class file
*.class

# Log file
applogs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# gradle
.gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.mapper
hs_err_pid*

# intellij
.idea/
*.iml
/out/

# properties file

# git-commit-id-plugin files
git.properties
pub*.sh
foo.json

# Mac file
.DS_Store